---
import type { CollectionEntry } from "astro:content";
import Layout from "./Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Breadcrumb from "@/components/Breadcrumb.astro";
import TagCloud from "@/components/TagCloud.astro";
import PostsTree from "@/components/PostsTree.astro";
import { SITE } from "@/config";

interface TagItem {
  label: string;
  href?: string;
}

interface Props {
  title: string;
  pageTitle: string;
  pageDesc?: string;
  tagCloudTags?: TagItem[];
  showTagCloud?: boolean;
  posts?: CollectionEntry<"blog">[];
  noMarginTop?: boolean;
}

const {
  title,
  pageTitle,
  pageDesc,
  tagCloudTags = [],
  showTagCloud = false,
  posts = [],
  noMarginTop = false,
} = Astro.props;

const backUrl = SITE.showBackButton ? Astro.url.pathname : "/";
const showSidebar = showTagCloud || posts.length > 0;
---

<Layout title={title}>
  <Header />
  <Breadcrumb />
  <main data-backUrl={backUrl} id="main-content" class="app-layout">
    <div class="flex gap-8 pt-8">
      <div class="w-[70%]">
        <h1 class="text-2xl font-semibold sm:text-3xl">{pageTitle}</h1>
        {pageDesc && <p class="mt-2 mb-6 italic">{pageDesc}</p>}
        <slot />
        <slot name="pagination" />
      </div>

      {
        showSidebar && (
          <aside class="w-[30%] border-l border-border pl-8">
            {posts.length > 0 && (
              <section
                class:list={[
                  "pb-6",
                  { "border-b border-border": showTagCloud && tagCloudTags.length > 0 },
                ]}
              >
                <h2 class="text-2xl font-semibold tracking-wide">Posts</h2>
                <PostsTree {posts} />
              </section>
            )}
            {showTagCloud && tagCloudTags.length > 0 && (
              <section class:list={[{ "pt-6": posts.length > 0 }]}>
                <h2 class="text-2xl font-semibold tracking-wide">Tags</h2>
                <TagCloud tags={tagCloudTags} width={400} height={380} />
              </section>
            )}
          </aside>
        )
      }
    </div>
  </main>
  <Footer {noMarginTop} />
</Layout>

<script>
  document.addEventListener("astro:page-load", () => {
    const mainContent: HTMLElement | null =
      document.querySelector("#main-content");
    const backUrl = mainContent?.dataset?.backurl;
    if (backUrl) {
      sessionStorage.setItem("backUrl", backUrl);
    }
  });
</script>
